In [1]:
# import some basic libraries to start
import csv
import pandas as pd
import numpy as np
import re


# upload data into system using pd.read_csv
df = pd.read_csv('shark_tank.csv')
# find shape
print(df.shape)
# print head of df
df.head()

(495, 19)

,deal,description,episode,category,entrepreneurs,location,website,askedFor,exchangeForStake,valuation,season,shark1,shark2,shark3,shark4,shark5,title,episode-season,Multiple Entreprenuers
0,False,Bluetooth device implant for your ear.,1,Novelties,Darrin Johnson,"St. Paul, MN",NaN,1000000,15,6666667,1,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,Ionic Ear,1-1,False
1,True,Retail and wholesale pie factory with two reta...,1,Specialty Food,Tod Wilson,"Somerset, NJ",http://whybake.com/,460000,10,4600000,1,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,Mr. Tod's Pie Factory,1-1,False
2,True,Ava the Elephant is a godsend for frazzled par...,1,Baby and Child Care,Tiffany Krumins,"Atlanta, GA",http://www.avatheelephant.com/,50000,15,333333,1,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,Ava the Elephant,1-1,False
3,False,"Organizing, packing, and moving services deliv...",1,Consumer Services,"Nick Friedman, Omar Soliman","Tampa, FL",http://collegehunkshaulingjunk.com/,250000,25,1000000,1,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,College Foxes Packing Boxes,1-1,False
4,False,Interactive media centers for healthcare waiti...,1,Consumer Services,Kevin Flannery,"Cary, NC",http://www.wispots.com/,1200000,10,12000000,1,Barbara Corcoran,Robert Herjavec,Kevin O'Leary,Daymond John,Kevin Harrington,Wispots,1-1,False

In [2]:
# for this project I don't need episode, location, episode-season, website or season
df = df.drop(['episode', 'location', 'episode-season', 'website','season', 'shark1', 'shark2', 'shark3', 'shark4', 'shark5',"Multiple Entreprenuers"], axis = 1)
# print changes to shape and verify they are true with printing head of df
print(df.shape)
df.head()

(495, 8)

,deal,description,category,entrepreneurs,askedFor,exchangeForStake,valuation,title
0,False,Bluetooth device implant for your ear.,Novelties,Darrin Johnson,1000000,15,6666667,Ionic Ear
1,True,Retail and wholesale pie factory with two reta...,Specialty Food,Tod Wilson,460000,10,4600000,Mr. Tod's Pie Factory
2,True,Ava the Elephant is a godsend for frazzled par...,Baby and Child Care,Tiffany Krumins,50000,15,333333,Ava the Elephant
3,False,"Organizing, packing, and moving services deliv...",Consumer Services,"Nick Friedman, Omar Soliman",250000,25,1000000,College Foxes Packing Boxes
4,False,Interactive media centers for healthcare waiti...,Consumer Services,Kevin Flannery,1200000,10,12000000,Wispots

In [3]:
# turning the true and false of deal to 1 or 0
df['deal'] = df['deal'].astype(int)

#making sure it did it correctly
df.head()

,deal,description,category,entrepreneurs,askedFor,exchangeForStake,valuation,title
0,0,Bluetooth device implant for your ear.,Novelties,Darrin Johnson,1000000,15,6666667,Ionic Ear
1,1,Retail and wholesale pie factory with two reta...,Specialty Food,Tod Wilson,460000,10,4600000,Mr. Tod's Pie Factory
2,1,Ava the Elephant is a godsend for frazzled par...,Baby and Child Care,Tiffany Krumins,50000,15,333333,Ava the Elephant
3,0,"Organizing, packing, and moving services deliv...",Consumer Services,"Nick Friedman, Omar Soliman",250000,25,1000000,College Foxes Packing Boxes
4,0,Interactive media centers for healthcare waiti...,Consumer Services,Kevin Flannery,1200000,10,12000000,Wispots

In [4]:
def data_cleaning(corpus):
  letters_only = re.sub('[^a-zA-Z]', " ", corpus)
  words = letters_only.lower().split()
  return( ' '.join( words ))

In [5]:
df['description'] = df['description'].apply(lambda x: data_cleaning(x))
df['description']

0                  bluetooth device implant for your ear
1      retail and wholesale pie factory with two reta...
2      ava the elephant is a godsend for frazzled par...
3      organizing packing and moving services deliver...
4      interactive media centers for healthcare waiti...
                             ...
490    zoom interiors is a virtual service for interi...
491    spikeball started out as a casual outdoors gam...
492    shark wheel is out to literally reinvent the w...
493    adriana montano wants to open the first cat ca...
494    sway motorsports makes a three wheeled all ele...
Name: description, Length: 495, dtype: object

In [6]:
# split data into train and test
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, test_size = .20)

In [7]:
# Vectorize
train_corpus = []
test_corpus = []
for i in train["description"]:
  train_corpus.append(i)
for i in test["description"]:
  test_corpus.append(i)

# create
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer(ngram_range=(2,2))
train_features = v.fit_transform(train_corpus)
test_features = v.transform(test_corpus)

In [8]:
print(train_features.shape)
print(test_features.shape)

(396, 11249)
(99, 11249)

In [9]:
# Import ML models from sklearn
from sklearn.linear_model import LogisticRegression # Regression classifier
from sklearn.tree import DecisionTreeClassifier # decision tree classifier
from sklearn import svm # support vector machine
from sklearn.ensemble.forest import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB # naive bayes classifier
from sklearn.metrics import accuracy_score, recall_score, confusion_matrix # metrics to check performance of modelfrom sklearn.model_selection import train_test_split

In [10]:
# set params for algorithms 
Classifiers = {'LR': LogisticRegression(random_state=42, C = 5, max_iter=200),
             'DTC': DecisionTreeClassifier(random_state=42, min_samples_leaf=2),
             'RF': RandomForestClassifier(random_state= 42, n_estimators= 100,n_jobs=-1),
             #'XGB': XGB(random_state = 42, n_estimators = 400, learning_rate = .2),
             "SVM": svm.SVC(kernel="linear", C = .1),
             'NB': MultinomialNB(alpha=.05)}

In [11]:
# create pipeline
def ML_Pipeline(clf_name):
  clf = Classifiers[clf_name]
  fit = clf.fit(train_features, train["deal"])
  pred = clf.predict(test_features)
  Accuracy = accuracy_score(test['deal'],pred)
  Confusion_matrix = confusion_matrix(test['deal'], pred)
  
  print("Accuracy = "+ str(Accuracy))
  
  print(Confusion_matrix)

In [12]:
ML_Pipeline('LR')

Accuracy = 0.5757575757575758
[[34 17]
 [25 23]]

C:\Users\benja\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [13]:
ML_Pipeline('DTC')

Accuracy = 0.5959595959595959
[[37 14]
 [26 22]]

In [14]:
ML_Pipeline('RF')

Accuracy = 0.5454545454545454
[[46  5]
 [40  8]]

In [15]:
ML_Pipeline('SVM')

Accuracy = 0.5858585858585859
[[39 12]
 [29 19]]

In [16]:
ML_Pipeline('NB')

Accuracy = 0.5858585858585859
[[22 29]
 [12 36]]

Based off of the results an average of 53% there isn't a specific pitch to gaurantee getting a deal with the sharks.